<tr>                  
    <td>
        <%= obj["CaseID"] %>
    </td>                  

    <td>
        <%= obj["1stNotificationDate/Time"] %>
    </td>                 
    <td>
        <%= obj["Incident_Subtype"] %>
    </td>
    <td>
        <%= obj["Case_Title"] %>
    </td>




</tr>